<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel='stylesheet' href='/css/style.css' />    
</head>
<body>
    <h3> Welcome to Dashboard </h3>

    <div class="">Go to this Page 
            <a  href="home"> Next
            </a>
    </div>

    <h2>
            <a  href="logout"> Log Out
            </a>
    </h2>

    <h2>
            <a  href="fill"> Fill Pollinator Table
            </a>
    </h2>

</body>
</html>
