{
    "env": {
        "browser": true,
         "es6": true,
         "jest": true
    },
    "globals": {"Promise": true},
    "parser": "babel-eslint",
    "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
    },
    "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass", 
                                         
      "pragma": "React",  
      "version": "15.0", 
      "flowVersion": "0.53" 
    },
    "propWrapperFunctions": [ "forbidExtraProps" ] 
  },
  "plugins": [
    "react"
  ],
  "rules": {
        "no-console": "off"
    }
}